.upper-row{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 200px;
    align-items: center;
    scrollbar-width: none;
    justify-content: space-between;
    scroll-behavior: smooth;
}
.upper-row::-webkit-scrollbar{
    display: none;
}
h1,h2,h3,h4,h5,h6{
}

.left-grid{
    width: 70%;
    float: left;
}
.right-grid{
    width: 30%;
    float: left;
}
@media only screen and (max-width: 700px) {
  .container mat-icon{
      display: none;
  }
  .left-grid{
     width: 100%;
  }
  .right-grid{
      display: none;
  }
}