<news-navbar>
    <div class="upper-row">
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
    </div>
    <news-card-horizontal-home></news-card-horizontal-home>
    <news-card-horizontal-home></news-card-horizontal-home>
    <news-card-horizontal-home></news-card-horizontal-home>
    <news-card-horizontal-grid></news-card-horizontal-grid>

</news-navbar>