<news-navbar>
    <news-tab-bar></news-tab-bar>
    <news-jumbotron></news-jumbotron>
    <div class="upper-row">
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
        <news-card-horizontal-title-only></news-card-horizontal-title-only>
    </div>
    <news-card-horizontal-home></news-card-horizontal-home>
    <news-card-horizontal-home></news-card-horizontal-home>
    <news-card-horizontal-home></news-card-horizontal-home>
    <news-card-horizontal-grid></news-card-horizontal-grid>

</news-navbar>