<mat-tab-group mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="container">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><br>
        <span>Technology</span>
        </div>
        
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="container">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><br>
        <span>Sports</span>
        </div>
        
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="container">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon><br>
        <span>Bollywood</span>
        </div>
        
      </ng-template>
    </mat-tab>
  </mat-tab-group>