@use 'sass:math';

$width:min(20vw,100px);

.box {
  min-height: 100px;
  margin: auto;
  margin-left: 20%;
  width: min(90vw,400px);
  background: #ffffff;
  box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.01),
    0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  max-height: 120px;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 5px;
  .image-box {
    width:$width;
    height: $width;
    overflow: hidden;
    img {
      width: $width;
      height: 100%;
      border-radius: 5px;
    }
  }
  .content {
    display: block;
    padding: 10px;
    width: 80%;
    .title{
        font-family: "NotoSans";
        font-weight: 900;
        
      color: rgba(0, 0, 0, 0.68);
    }
    .date {
      position: relative;
      z-index: 2;
      bottom: 0;
      right: 0;
      font-size: small;
      color: rgba(0, 0, 0, 0.28);
      padding-right: 20px;
    }
  }
}
