@use 'sass:math';

$width: min(20vw, 180px);

.box {
  min-height: 100px;
  background: #ffffff;
  box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.01),
    0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 20px;
  padding: 20px;
  .image-box {
    width: $width;
    height: $width;
    overflow: hidden;
    img {
      width: $width;
      height: 100%;
    }
  }
  .content {
    display: block;
    padding: 10px;
    width: 80%;
    position: relative;
    .title {
      font-family: 'NotoSans';
      font-weight: 900;
    }
    .date {
      position: relative;
      bottom: 0;
      right: 0;
      font-size: small;
      color: rgba(0, 0, 0, 0.28);
      padding-right: 20px;
    }
    .main-subtitle {
      line-height: 1.5em;
      height: 3em;
      overflow: hidden;
    }
  }
}
