body{
  font-family: "Roboto", Arial, Helvetica, sans-serif ;
}
.box{
  min-height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  max-height: 220px;
  width: 100%;
  margin: 20px;
}
.card-wrap{
  min-height: 150px;
display: flex;
padding:4px;
margin:20px;
width: 100%;
}
.image-box{
  min-height: 100px;
  max-width: 200px;
  max-height: 200px;
}
img{
  min-height: 100px;
max-width: 200px;
max-height: 200px;
}
.content{
display: block;
padding: 10px;
width:100%;
position: relative;
}
.date{
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(0, 0, 0, 0.38);
  padding-right: 20px;
}
.main-subtitle{
  line-height: 1.5em;
  height:3em;
  overflow: hidden;
}